<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xiaoneng.ss">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".base.view.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/MainTheme">

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <activity
            android:name=".module.activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|navigation|locale"
            android:screenOrientation="portrait"
            android:theme="@style/App.Theme.Launch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".module.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|navigation|locale"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".account.view.LoginSwitchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".account.view.LoginStuActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".account.view.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".account.view.LoginTeacherActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".module.circular.view.SystemMsgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.circular.view.NoticeDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.school.view.TaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.mine.view.MineInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.mine.view.AccountSecureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.mine.view.InviteCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.mine.view.ChooseChildActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.mine.view.BindParentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.mine.view.SysSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.school.view.AddTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.school.view.TaskDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.school.view.RejectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.school.view.AddLogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.school.view.AttendanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.circular.view.ScheduleDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.circular.view.AddScheduleActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.school.view.PerformanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.school.view.ApplyLeaveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.school.view.LeaveTypeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.school.view.AddStudentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.school.view.TimetableActivity"
            android:configChanges="orientation|keyboardHidden|navigation|locale"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".module.mine.view.AddParentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.school.view.AddClassAttendanceTypeMasterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.school.view.ChooseCourseToLeaveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.school.view.Attendance2CourseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.mine.view.UserProtocolActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.school.view.AddInvolveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.school.view.InvolvePersonActivity"
            android:screenOrientation="portrait" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>